{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{{title}}</title>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles2.css' %}">
        <link href="{% static 'dist/css/styles.css' %}" rel="stylesheet" />
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/javaScript.js' %}"></script>
        <script src="{% static 'js/queryCode.js' %}"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="index.html">Bulk&Shred</a>
            <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
            <div class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0"></div>
            <!-- Navbar-->

            <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" type="button" href="{% url 'portal' user.username %}"><i class="fas fa-sign-in-alt"></i> Mi perfil</a>
                <a class="dropdown-item" type="button" href="{% url 'reset-password' user.username %}"><i class="fas fa-key"></i> Cambio de contraseña</a>
                {% if user.grupo.id == 2 %}
                    <a class="dropdown-item" type="button" href="{% url 'mis-fotos' user.username %}"><i class="fas fa-camera-retro"></i> Mis fotos</a>
                {% endif %}
                <a class="dropdown-item" type="button" href="{% url 'logout' %}"><i class="fas fa-power-off"></i> Salir</a>
            </div>
            </div>
            
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">

                
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                        {% if  user.grupo.id == 1 %}
                            <div class="sb-sidenav-menu-heading">Usuarios</div>
                            <a class="nav-link" href="{% url 'show-users' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-user-plus"></i></div>
                                Gestión de Usuarios
                            </a>
                        {% endif %}
                        {% if user.grupo.id == 1 or user.grupo.id == 3 %}
                            <div class="sb-sidenav-menu-heading">Dietas y Entrenamientos</div>
                            <a class="nav-link" href="{% url 'tipos-dieta' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-edit"></i></div>
                                Tipos Dieta
                            </a>
                        {% endif %}
                        {% if  user.grupo.id == 3 %}
                            <a class="nav-link" href="{% url 'misUsuarios' user.username %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-diagnoses"></i></div>
                                Dietas
                            </a>

                            <a class="nav-link" href="{% url 'asigned-users' user.username %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-dumbbell"></i></div>
                                Entrenamientos
                            </a>
                        {% endif %}
                        {% if user.grupo.id == 1 or user.grupo.id == 3 %}
                            <div class="sb-sidenav-menu-heading">Alimentación y Ejercicio Físico</div>
                            <a class="nav-link" href="{% url 'aliments' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-bread-slice"></i></div>
                                Gestión de Alimentos
                            </a>
                            
                            <a class="nav-link" href="{% url 'meals' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-utensils"></i></div>
                                Gestión de Comidas
                            </a>

                            <a class="nav-link" href="{% url 'show-exercises' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-dumbbell"></i></div>
                                Gestión de Ejercicios
                            </a>
                        {% endif %}
                        {% if user.grupo.id == 2 %}
                            <div class="sb-sidenav-menu-heading">Dietas y Entrenamientos</div>
                            <a class="nav-link" href="{% url 'listar-dieta' user.email %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-calendar-week"></i></div>
                                Mis Dietas
                            </a>
                            <a class="nav-link"  href="{% url 'list-training' user.username %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-dumbbell"></i></div>
                                Mis Entrenamientos
                            </a>
                        {% endif %}

                            <div class="sb-sidenav-menu-heading">Chat Entrenador</div>
                            <a class="nav-link" href="{% url 'index-users' user.username %}">
                                <div class="sb-nav-link-icon"><i class="far fa-comments"></i></div>
                                Chat
                            </a>


                            
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Sesión de: {{user.username}}</div>
                        Bulk & Shred
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                     <div id="content">


                        <div class="popup" id="popup-1">
                            <div class="overlay"></div>
                            <div class="content-popup">
                                <div class="close-popup" onclick="togglePopup()">&times;</div>
                                <h1>Política de Privacidad</h1>
                                <p>
                                POLÍTICA DE PRIVACIDAD

                                    El presente Política de Privacidad establece los términos en que Bulk&Shred usa y protege la información que es proporcionada por sus usuarios al momento de utilizar su sitio web. Esta compañía está comprometida con la seguridad de los datos de sus usuarios. Cuando le pedimos llenar los campos de información personal con la cual usted pueda ser identificado, lo hacemos asegurando que sólo se empleará de acuerdo con los términos de este documento. Sin embargo esta Política de Privacidad puede cambiar con el tiempo o ser actualizada por lo que le recomendamos y enfatizamos revisar continuamente esta página para asegurarse que está de acuerdo con dichos cambios.

                                    Información que es recogida

                                    Nuestro sitio web podrá recoger información personal por ejemplo: Nombre,  información de contacto como  su dirección de correo electrónica e información demográfica. Así mismo cuando sea necesario podrá ser requerida información específica para procesar algún pedido o realizar una entrega o facturación.

                                    Uso de la información recogida

                                    Nuestro sitio web emplea la información con el fin de proporcionar el mejor servicio posible, particularmente para mantener un registro de usuarios, de pedidos en caso que aplique, y mejorar nuestros productos y servicios.  Es posible que sean enviados correos electrónicos periódicamente a través de nuestro sitio con ofertas especiales, nuevos productos y otra información publicitaria que consideremos relevante para usted o que pueda brindarle algún beneficio, estos correos electrónicos serán enviados a la dirección que usted proporcione y podrán ser cancelados en cualquier momento.

                                    Bulk&Shred está altamente comprometido para cumplir con el compromiso de mantener su información segura. Usamos los sistemas más avanzados y los actualizamos constantemente para asegurarnos que no exista ningún acceso no autorizado.

                                    Cookies

                                    Una cookie se refiere a un fichero que es enviado con la finalidad de solicitar permiso para almacenarse en su ordenador, al aceptar dicho fichero se crea y la cookie sirve entonces para tener información respecto al tráfico web, y también facilita las futuras visitas a una web recurrente. Otra función que tienen las cookies es que con ellas las web pueden reconocerte individualmente y por tanto brindarte el mejor servicio personalizado de su web.

                                    Nuestro sitio web emplea las cookies para poder identificar las páginas que son visitadas y su frecuencia. Esta información es empleada únicamente para análisis estadístico y después la información se elimina de forma permanente. Usted puede eliminar las cookies en cualquier momento desde su ordenador. Sin embargo las cookies ayudan a proporcionar un mejor servicio de los sitios web, estás no dan acceso a información de su ordenador ni de usted, a menos de que usted así lo quiera y la proporcione directamente, . Usted puede aceptar o negar el uso de cookies, sin embargo la mayoría de navegadores aceptan cookies automáticamente pues sirve para tener un mejor servicio web. También usted puede cambiar la configuración de su ordenador para declinar las cookies. Si se declinan es posible que no pueda utilizar algunos de nuestros servicios.

                                    Enlaces a Terceros

                                    Este sitio web pudiera contener en laces a otros sitios que pudieran ser de su interés. Una vez que usted de clic en estos enlaces y abandone nuestra página, ya no tenemos control sobre al sitio al que es redirigido y por lo tanto no somos responsables de los términos o privacidad ni de la protección de sus datos en esos otros sitios terceros. Dichos sitios están sujetos a sus propias políticas de privacidad por lo cual es recomendable que los consulte para confirmar que usted está de acuerdo con estas.

                                    Control de su información personal

                                    En cualquier momento usted puede restringir la recopilación o el uso de la información personal que es proporcionada a nuestro sitio web.  Cada vez que se le solicite rellenar un formulario, como el de alta de usuario, puede marcar o desmarcar la opción de recibir información por correo electrónico.  En caso de que haya marcado la opción de recibir nuestro boletín o publicidad usted puede cancelarla en cualquier momento.

                                    Esta compañía no venderá, cederá ni distribuirá la información personal que es recopilada sin su consentimiento, salvo que sea requerido por un juez con un orden judicial.

                                    Bulk&Shred Se reserva el derecho de cambiar los términos de la presente Política de Privacidad en cualquier momento.
                                
                                
                                
                                </p>
                            </div>
                        </div>

                        <div class="popup" id="popup-2">
                            <div class="overlay"></div>
                            <div class="content-popup">
                                <div class="close-popup" onclick="togglePopup1()">&times;</div>
                                <h1>Términos y Condiciones</h1>
                                <p>
                                INFORMACIÓN RELEVANTE

                                    Es requisito necesario para la adquisición de los productos que se ofrecen en este sitio, que lea y acepte los siguientes Términos y Condiciones que a continuación se redactan. El uso de nuestros servicios así como la compra de nuestros productos implicará que usted ha leído y aceptado los Términos y Condiciones de Uso en el presente documento. Todas los productos  que son ofrecidos por nuestro sitio web pudieran ser creadas, cobradas, enviadas o presentadas por una página web tercera y en tal caso estarían sujetas a sus propios Términos y Condiciones. En algunos casos, para adquirir un producto, será necesario el registro por parte del usuario, con ingreso de datos personales fidedignos y definición de una contraseña.

                                    El usuario puede elegir y cambiar la clave para su acceso de administración de la cuenta en cualquier momento, en caso de que se haya registrado y que sea necesario para la compra de alguno de nuestros productos. Bulk & Shred no asume la responsabilidad en caso de que entregue dicha clave a terceros.

                                    Todas las compras y transacciones que se lleven a cabo por medio de este sitio web, están sujetas a un proceso de confirmación y verificación, el cual podría incluir la verificación del stock y disponibilidad de producto, validación de la forma de pago, validación de la factura (en caso de existir) y el cumplimiento de las condiciones requeridas por el medio de pago seleccionado. En algunos casos puede que se requiera una verificación por medio de correo electrónico.

                                    Los precios de los productos ofrecidos en esta Tienda Online es válido solamente en las compras realizadas en este sitio web.

                                    LICENCIA

                                    Bulk & Shred  a través de su sitio web concede una licencia para que los usuarios utilicen  los productos que son vendidos en este sitio web de acuerdo a los Términos y Condiciones que se describen en este documento.

                                    USO NO AUTORIZADO

                                    En caso de que aplique (para venta de software, templetes, u otro producto de diseño y programación) usted no puede colocar uno de nuestros productos, modificado o sin modificar, en un CD, sitio web o ningún otro medio y ofrecerlos para la redistribución o la reventa de ningún tipo.

                                    PROPIEDAD

                                    Usted no puede declarar propiedad intelectual o exclusiva a ninguno de nuestros productos, modificado o sin modificar. Todos los productos son propiedad  de los proveedores del contenido. En caso de que no se especifique lo contrario, nuestros productos se proporcionan  sin ningún tipo de garantía, expresa o implícita. En ningún esta compañía será  responsables de ningún daño incluyendo, pero no limitado a, daños directos, indirectos, especiales, fortuitos o consecuentes u otras pérdidas resultantes del uso o de la imposibilidad de utilizar nuestros productos.

                                    POLÍTICA DE REEMBOLSO Y GARANTÍA

                                    En el caso de productos que sean  mercancías irrevocables no-tangibles, no realizamos reembolsos después de que se envíe el producto, usted tiene la responsabilidad de entender antes de comprarlo.  Le pedimos que lea cuidadosamente antes de comprarlo. Hacemos solamente excepciones con esta regla cuando la descripción no se ajusta al producto. Hay algunos productos que pudieran tener garantía y posibilidad de reembolso pero este será especificado al comprar el producto. En tales casos la garantía solo cubrirá fallas de fábrica y sólo se hará efectiva cuando el producto se haya usado correctamente. La garantía no cubre averías o daños ocasionados por uso indebido. Los términos de la garantía están asociados a fallas de fabricación y funcionamiento en condiciones normales de los productos y sólo se harán efectivos estos términos si el equipo ha sido usado correctamente. Esto incluye:

                                    – De acuerdo a las especificaciones técnicas indicadas para cada producto.
                                    – En condiciones ambientales acorde con las especificaciones indicadas por el fabricante.
                                    – En uso específico para la función con que fue diseñado de fábrica.
                                    – En condiciones de operación eléctricas acorde con las especificaciones y tolerancias indicadas.

                                    COMPROBACIÓN ANTIFRAUDE

                                    La compra del cliente puede ser aplazada para la comprobación antifraude. También puede ser suspendida por más tiempo para una investigación más rigurosa, para evitar transacciones fraudulentas.

                                    PRIVACIDAD

                                    Este Bulk & Shred garantiza que la información personal que usted envía cuenta con la seguridad necesaria. Los datos ingresados por usuario o en el caso de requerir una validación de los pedidos no serán entregados a terceros, salvo que deba ser revelada en cumplimiento a una orden judicial o requerimientos legales.

                                    La suscripción a boletines de correos electrónicos publicitarios es voluntaria y podría ser seleccionada al momento de crear su cuenta.

                                    Bulk & Shred reserva los derechos de cambiar o de modificar estos términos sin previo aviso.
                                
                                
                                </p>
                            </div>
                        </div>

          

                        <!---Creo bloques para hacer dinamico una parte de la pagina-->
                        {% block content %}

                        
                        <!--Codigo que viene de templates-->
                        {% endblock %}
                        

                    

                </div>
                
                </main>

               

                <footer style="max-height: 80px;" class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Bulk&Shred</div>
                            <div>
                                <a href="#" onclick="Popup()">Política de privacidad</a>
                                &middot;
                                <a href="#" onclick="Popup1()">Términos &amp; Condiciones</a>
                                
                            </div>

                            
                        </div>
                    </div>
                </footer>

            </div>
        </div>


        
    </body>




</html>
