{% load static %}
{% block title %}

    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


{% endblock %}

{% block content %}

<div class="message-div-conf">
  <p>
    <strong>Has confirmado la cuenta</strong>
  </p>
  <p>
    Volver a la página<a href="{% url 'index' %}"> principal</a>
  </p>
  <br>
  <hr>
</div>
{% endblock %}
