{% extends 'inicio.html'%}
{% block title %}

{% endblock %}


{% block content %}

<div class="container-chatt">   

		<h1 class="h3 mb-3">Mensajes</h1>

		<div class="card-chat">

			
				{% for key, value in clients.items %}
				<div class="row g-0" id="users-div">
				<div class="col-12 col-lg-5 col-xl-3" >
				
				
				
					<a href="{% url 'index-chat' sesion.username key.username %}" class="list-group-item list-group-item-action border-0">
						<!--<div class="badge bg-success float-right">5</div>-->
						<div class="d-flex align-items-start">
							<img src="{{value.photo.url}}" class="rounded-circle mr-1" width="40" height="40">
							<div class="flex-grow-1 ml-3">
								{{key.first_name}}, {{key.last_name}}
								<div class="small"><span class="fas fa-circle chat-online"></span> Última vez el {{key.last_login}}</div>
							</div>
						</div>
					</a>
				
				
				
					
					

					<hr class="d-block d-lg-none mt-1 mb-0">
				</div>
				</div>
				{% endfor %}
			<div class="row g-0" id="screen-chat">


				<!--Mensaje del emisor-->
				<div id="message-box">
					<div class="py-2 px-4 border-bottom d-none d-lg-block">
						<div class="d-flex align-items-center py-1">
							
                            <!--Foto perfil-->
                            <div class="position-relative">
								<img src="{{r_user.photo.url}}" class="rounded-circle mr-1" width="40" height="40">
							</div>

                            <!--Nombre Usuario-->
							<div class="flex-grow-1 pl-3">
								<strong>{{receptor.first_name}}</strong>
								<div class="text-muted small"></div>
							</div>
						</div>
					</div>

					<div class="position-relative">
						<div class="chat-messages p-4" id="chat-message-id">
						
						{% for x in mensajes  %}

						{% if x.2 == '1' %}
						
							<div class="chat-message-right pb-4">
								<div>
									<img src="{{e_user.photo.url}}" class="rounded-circle mr-1"  width="40" height="40">
									<div class="text-muted small text-nowrap mt-2">{{x.0}}</div>
								</div>
								<div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
									<div class="font-weight-bold mb-1">{{user.first_name}}</div>
									{{x.1}}
								</div>
								
							</div>

						
								
						{% elif x.2 == '2' %}

							<div class="chat-message-left pb-4">
									<div>
										<img src="{{r_user.photo.url}}" class="rounded-circle mr-1"  width="40" height="40">
										<div class="text-muted small text-nowrap mt-2">{{x.0}}</div>
									</div>
									<div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
										<div class="font-weight-bold mb-1">{{receptor.first_name}}</div>
										{{x.1}}
									</div>
									
								</div>
							
						{% endif %}
						{% endfor %}


							

							





						</div>
					</div>


					<div class="flex-grow-0 py-3 px-4 border-top">
						<div class="input-group">
						<form action="{% url 'send-message' sesion.username receptor.username%}" method='POST'>
							{% csrf_token %}
							<div class="row">
								<textarea class="form-control" name="content-chat" placeholder="Escribe tu mensaje..."></textarea>
								<button type = "submit" class="btn btn-primary">Enviar</button>
							</div>
						</form>
						</div>
					</div>

				</div>
			</div>
		</div>
	

</div>



{% endblock %}


