{% extends 'inicio.html'%}
{% load crispy_forms_tags %}
{% block title %}

{% endblock %}



{% block content %}


    <div id="iconos-centrales">
        <a href="{% url 'list-training' client.username %}" style="color:red; font-size:40px;"><i class="fas fa-undo"></i></a>
    </div>
    <div class="content-table">
    {% if messages %}

            {% for message in messages %}

                <div class="alert alert-warning">
                    {{message}}
                </div>

            {% endfor %}

    {% endif %}

    </div>

<div class="content-table" id="table-info-training">
    <table class="table table-hover table-bordered table-dark">

        <tr>
            <th class="bg-info">Deportes que practica</th>
            <td>{{ficha.sports}}</td>
            <th class="bg-info">Patologías</th>
            <td>{{ficha.patologies}}</td>  
        </tr>
        
        <tr>
            <th class="bg-info">Comentarios</th>
            <td>{{ficha.comments}}</td>
            <th class="bg-info">Frecuencia de ejercicio</th>
            <td>{{ficha.timing}}</td>            
        </tr>
        
    </table>
  </div>  
    {% for fecha in fechas  %}
    <div class="content-table">

        <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Día {{fecha}}</h4>
        <hr>
        <a href="{% url 'add-exercise-training' client.username entreno.id fecha%}"><i style="font-size: 80px; text-align:center; margin: 0 auto; color:red;" class="fas fa-arrow-alt-circle-right"></i></a>
        <a href="{% url 'show-day-training' client.username entreno.id fecha %}"><i style="font-size: 80px; text-align:center; margin: 0 auto; color:#12F702;" class="fas fa-eye"></i></a>
        </div>

        <br>

    </div>
    {% endfor %}
   



    

{% endblock %}