{% extends 'inicio.html'%}
{% load crispy_forms_tags %}

{% block title %}

{% endblock %}



{% block content %}




<div class="form-style1">
<h2><strong>{{title}}</strong></h2>

<div class="content-table"> 

{% if messages %}

        {% for message in messages %}

            <div class="alert alert-error">
                {{message}}
            </div>

        {% endfor %}

{% endif %}
</div>

{{form.errors}}
<form method="POST" action="{% url 'edit-aliment-diet' meal.id  %}">
{% csrf_token %}
{%crispy form %}    
</form>

</div>

{% endblock %}