{% extends 'inicio.html'%}

{% block title %}
    {{title}}
<h1>{{title}}</h1>

{% endblock %}



{% block content %}

<div id="iconos-centrales">
        <a href="{% url 'mis-fotos' user.username %}" style="color:red; font-size:40px;"><i class="fas fa-undo"></i></a>
</div>
<div class="content-table">
<div class="gallery">


  <a target="_blank" href="">
    <img src="{{imagen.image.url}}"  width="1000" height="800">
  </a>
  <strong><h2 style="text-align:center; font-weight: bold;">{{imagen.peso}} kg</h2></strong>
</div>

<div class="caja">
<h2 style="margin-bottom: 5px;"><strong>Descripción</strong></h2>
   
        {{imagen.description}}
    
</div>

</div>

    

{% endblock %}