{% load static %}
{% block title %}

    <title>Mensaje confirmación</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


{% endblock %}

{% block content %}

<div class="message-div-conf">
  <p>
    <strong>En breves, recibirás un email con el link para poder cambiar la 
    contraseña.</strong>
  </p>
  <p>
    <strong>En caso de no recibirlo, inténtalo de nuevo. Asegúrate de que la dirección de correo es la correcta</strong>
  </p>
  <br>
  <hr>
  <a class="btn btn-danger" href="{% url 'login' %}">Volver a la página</a>
</div>
{% endblock %}